## Configuration
.idea

## Drivers
Drivers

## Logs
GerkingCourseTAU/tests/step_defs/.pytest_cache
GerkingCourseTAU/tests/step_defs/__pycache__/
GerkingCourseTAU/tests/step_defs/geckodriver.log
geckodriver.log
__pycache__/

## Reports
output.json
pytest_html_report.html